<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ws2048</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="game-container">
        <div class="grid-container">
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
          <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
          </div>
        </div>

        <div id="tile-container" class="tile-container"></div>

	<div id="move-container" class="move-container">
	  <table class="move-table">
	    <tr>
	      <td>Up</td>
	      <td id="up-counter" class="counter"></td>
	    </tr>
	    <tr>
	      <td>Down</td>
	      <td id="down-counter" class="counter"></td>
	    </tr>
	    <tr>
	      <td>Left</td>
	      <td id="left-counter" class="counter"></td>
	    </tr>
	    <tr>
	      <td>Right</td>
	      <td id="right-counter" class="counter"></td>
	    </tr>
	  </table>
	</div>
    </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script>require("web/static/js/app")</script>

  </body>
</html>
